name: Publish NuGet Package

on:
  release:
    types: [ published ]

jobs:
  publish:
    name: Restore, Build, Test, Pack & Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore

      - name: Run tests
        run: dotnet test --configuration Release --verbosity normal

      - name: Pack
        run: dotnet pack src/DavidStudio.Core.Essentials/DavidStudio.Core.Essentials.csproj --configuration Release -o out

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: davidstudio

      - name: Publish package to NuGet.org
        run: dotnet nuget push out/*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json